---
dance_name: Barefooted Quaker
lead_in: Once to self
key: G
sequence: "A &#x1D106 AAB- &#x1D107"
figures:
  "Eight person":
    - step in line
    - crossing over
    - back to back
    - rounds of four
    - doubling up
dance_origin: unknown
---

%h3 Notes

%p
  There is a figure after the rounds.

%p
  Doubling up is same pacing as back to back, but in
  pairs.

%h2 Figures

%p
  %strong Step in line:
  Outside foot--Four doublesteps in place, galley
  out, two capers to face down. Four doublesteps,
  hitch to galley out, two capers to re-form set.

%p
  %strong Crossing over:
  Two double steps across (pass right shoulder),
  hold in place for two double steps, galley
  up/ditto coming back, galley down.

%p
  %strong Back to back:
  one double step across to other side of set and
  hook around.  Second double step in place (in a
  line), third double step backwards (everyone forms
  a line in the middle of the set), fourth double
  step in place, swing back to finish/ditto second
  half, passing left shoulder.

%p
  %strong Rounds of four:
  Two double steps clockwise to opposite side of
  circle, face corner for two double steps in place,
  two double steps counter clockwise to close
  circle, hold in place for two double steps, and
  spiral outback to place with pull down at end of
  figure.

%p
  %strong Doubling up:
  One doublestep to opposite pairs places and hook
  around (passing right shoulder), second double
  step hold in place, third doublestep backwards (to
  two horizontal lines), fourth doublestep hold in
  place, swing back to finish. Ditto second half,
  passing left shoulder.

%h2 Chorus

%p
  First corners: traveling open sidestep with show
  forward (lead with right foot, show into the
  middle, travel around partner by right shoulder,
  do same step traveling backwards to place)/ditto
  second corners/two Lichfield capers and galley
  right to finish.

%h2 Ending

%p
  Finale, finish facing up.
