---
dance_name: Barefoot Quaker
lead_in: Once to self
key: G
sequence: "A &#x1D106 AAB- &#x1D107"
figures:
  - step in line
  - crossing over
  - back to back
  - rounds of four
  - doubling up
---

%p
  There is a figure after the rounds.
