---
title: Ring-o-bells
song_name:
lead_in:
key: G
sequence: "&#x1D106 AB &#x1D107 B"
figures:
  "Eight Person":
    - dance around
    - ?
    - down and out
  "Four Person":
    - Dance around
    - Max Headroom hey
    - Rounds
    - Doubling up
    - Down and out
dance_origin:
---

%h3 Ring-o-bells

%h2 General Notes
%ul
  %li Two beat into
  %li There is a double AA for the hey followed by double BB to the end.

%h2 Four-person Notes

%video{width: '90%', controls: 'true'}
  %source{src: "videos/ring-o-bells-for-four-2019-01.mp4", type: "video/mp4"}
%ul
  %li 
    start like this in a single line.
    %pre
      &nbsp;  1
      &nbsp;   
      &nbsp;  2
      &nbsp;   
      &nbsp;  3
      &nbsp;   
      &nbsp;  4

  %li 
    Dance around in a zipper-line formation. 1 and 3 go in a big clockwise circle. 2 and 4 go in a big counter-clockwise circle

  %li Rounds are clockwise with Litchfield caper half-way.
  %li Rounds have no galley at the end.
  %li Rounds do not come back counter-clockwise.
  %li At end of Rounds, 2 and 3 do not get back in line but go toward the chorus position.
  %li 
    Chorus position with first clash noted with right hand. Second clash with left hand in center. 
    Third clash to other neighbor.
    %pre
      &nbsp;    1         
      &nbsp;     \        
      &nbsp;  2 ※ 3       
      &nbsp;   \          
      &nbsp;    4         
  %li Caper clockwise at end of clashing then do tap-tap-tap onto your right-neighbor's outstretched left stick using your right-hand stick.

  %li 
    Down and out
    %br
    Down (lrlr): 1342
    %br
    Out (rlrl): 4213


