---
permalink: /videos/
title: Videos
---

:ruby
  def video_link(path)
    "https://assets.windham.club/videos/#{path}"
  end


%h3 Videos of Our Group

%h4 2018

%p
  <a href="https://www.facebook.com/will.quale/videos/943323060902/" target="_blank">
  Crossing the Moon; May 26, 2018; Elliot Street; Marlboro Morris Ale
  </a>

.row
  .col-md-6
    %article.dance
      %h4 Tour, May 4, 2018
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cHqFUBDtgKE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

%h4 2017

%h4 2016

.row
  .col-md-6
    %article.dance
      %h4 Charington Toby, Marlboro May Day, 2016
      %video{width: "560", height:"315", controls: 'true'}
        %source{src: video_link("Charington Toby Marlboro May Day 2016.MP4"), type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Max Headroom, Marlboro May Day, 2016
      %video{width: "560", height:"315", controls: 'true'}
        %source{src: video_link("Max Headroom Marlboro May Day 2016.MP4"), type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Sheriff's Ride, Marlboro May Day, 2016
      %video{width: "560", height:"315", controls: 'true'}
        %source{src: video_link("Sheriff's Ride Marlboro May Day 2016.MP4"), type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Barrows House, Marlboro May Day, 2016
      %video{width: "560", height:"315", controls: 'true'}
        %source{src: video_link("Double Barrows House Marlboro May Day 2016.MP4"), type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Processional, Marlboro May Day 2016
      %video{width: "560", height:"315", controls: 'true'}
        %source{src: video_link("Processional Marlboro May Day 2016.MP4"), type:"video/mp4"}


.row
  .col-md-6
    %article.dance
      %h4
        I-91
        %span 2016 Marlboro Morris Ale (From 6:20)
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8sgu5pgdkIc?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

%h4 2011/2012

.row
  .col-md-6
    %article.dance
      %h4 Sheriff's Ride
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eNCQFg-U9Os?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Jean Boardman's Cakes
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7wveIAQJYrc?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        I-91
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lo_pVkIiifQ?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Casterling
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jU0FSMN6lsM?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Vandals
        %span Dec 10, 2011 Grand Opening of Putney General Store
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uoYOd5f3KxY?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Max Headroom
        %span Dec 10, 2011 Grand Opening of Putney General Store
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KWnUuKV76Vg?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>
