:ruby
  data = current_page.data
  figures = data.figures.nil? ? {} : data.figures

%table.table
  %tr
    %th Musical Lead-In
    %th Sequence
    %th Figures
    %th Dance Origin

  %tr
    %td= data.lead_in
    %td.music= data.sequence
    %td
      - figures.each do |name, figures|
        = name
        %ul
          - figures.each do |figure|
            %li= figure
    %td

.container
  =yield
