- data = current_page.data

%table.table
  %tr
    %th Musical Lead-In
    %th Sequence
    %th Figures

  %tr
    %td= data.lead_in
    %td.music= data.sequence
    %td
      %ul
        - [data.figures].flatten.each do |figure|
          %li= figure

=yield
