<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MORE
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        {% for sitepage in site.html_pages %}
          {% if sitepage.nonav %}
            <a href="{{sitepage.url | absolute_url}}"
                class="navbar-item has-text-grey-light {% if page.url == sitepage.url | absolute_url  %}is-active{% endif %}">
                {{sitepage.title}}
            </a>
          {% endif %}
        {% endfor %}
    </div>
</div>
