@charset "utf-8";

* {
  font-family: 'Alice', serif;
  font-weight: 500;
}

.dance {
  margin-bottom: 3em;
  min-height: 40rem;
  overflow: hidden;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  background: linear-gradient(to bottom, transparent 0, black 98%);
}

.dance h4 {
  margin: 1em;
  span {
    font-size: 75%;
    font-style: italic;
  }
}

.modal-body {
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.modal-dialog { 
  width: 900px;
}

.float-right { display: block; float: right; }
