---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container" id="page-section">
                <div class="section">
                    <h1 class="title is-2 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        <a href="#quick-reference">Jump to quick reference »</a>
                        {% if page.history %}
                          <h2>History</h2>
                          {{ page.history | markdownify }}
                        {% endif %}

                        {% if page.videos %}
                          <h2>Videos</h2>
                          {% include video_chunk.html %}
                        {% endif %}

                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container" id="page-section">
          <div class="section">
            <h1 class="title is-1 is-uppercase has-text-weight-bold">
              <a id="quick-reference"></a>
              Quick Reference
            </h1>
            <hr class="has-background-black">

            <div class="content is-marginless">
              <p>
                {% assign info = (site.data.dances | where: "name", page.title| first) %}

                {% if info.lead_in %}
                  <strong>Lead in</strong>: {{ info.lead_in }}
                  <br>
                {% endif %}
                {% if info.sequence %}
                  <strong>Sequence</strong>: {{ info.sequence }}
                  <br>
                {% endif %}
                {% if info.song %}
                  <strong>Song</strong>: {{ info.song }}
                  {% if info.key %}
                    (in the key of {{ info.key }})
                  {% endif %}
                  <br>
                {% endif %}
                {% if info.song_image %}
                  <img src="{{ info.song_image }}">
                  <br>
                {% endif %}
                <br>
                {% for figure_set in info.figures %}
                  <strong>Figures for {{ figure_set.name }}</strong>
                  <br>

                  <ul>
                    {% for figure in figure_set.figures %}
                      <li>{{ figure }}</li>
                    {% endfor %}
                  </ul>
                  <br>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
