---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="top-videos">
       <div class="container" id="page-section-top">
           <div class="section">
               {% for videos in page.videos %}
                 <h3> {{ videos.title }} ({{ videos.date }}) </h3>
                 {% if videos.link contains "youtube" %}
                   <iframe width="560" height="315" src="{{ videos.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                 {% elsif videos.link contains "facebook" %}
                   <a href="{{ videos.link }}">
                     {{ videos.title }}
                   </a>
                 {% else %}
                   <video width="560" height="315" controls='true'>
                     <source src="{{ videos.link }}" type="video/mp4">
                   </video>
                 {% endif %}
               {% endfor %}
           </div>
       </div>
    </section>


    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container" id="page-section">
                <div class="section">
                    <h1 class="title is-2 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container" id="page-section">
          <div class="section">
            <h1 class="title is-1 is-uppercase has-text-weight-bold">
              Quick Reference
            </h1>
            <hr class="has-background-black">

            <div class="content is-marginless">
              <p>
                <strong>Lead in</strong>: {{ page.lead_in }}
                <br>
                <strong>Musical Key</strong>: {{ page.key }}
                <br>
                <strong>Sequence</strong>: {{ page.sequence }}
                <br>
                {% if page.figures.for_eight %}
                <strong>Figures for 8</strong>
                <ul>
                  {% for figure in page.figures.for_eight %}
                  <li>{{figure}}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>




    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
