<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/index.html">Windham</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/videos.html">Videos<span class="sr-only">(current)</span></a></li>
        <li class=""><a href="/members.html">Members<span class="sr-only">(current)</span></a></li>
        <li><a href="/music.html">Music</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dances<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sheriff's Ride</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Vandals of Hammerwich</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">I-91</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Castlering</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Millie's Bequest</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ring 'O Bells</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Barrows House</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/dances/jean-boardmans-cakes.html">Jean Boardman's Cakes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">John Barltett's Fancy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Barefooted Quaker</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Max Headroom</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Charrington Toby</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
