---
title: Welcome to Windham
---

.jumbotron
  %h1 Windham
  %h2 We are Windham. That's it.

%p
  %a{href: '/pdfs/lichfield-fascimile.pdf', target: '_blank'} Photocopy of Lichfield Traditions
  %a{href: "https://docs.google.com/document/d/1HXc36F6dsY2P35yotO48NVjPS8EriXy-uDfwxFla4Ew/edit?ts=57b6398e"
    All dance notes
