%ul.well.list-group
  %li.list-group-item
    %a(href='/sheet_music/ring-o-bells-music.png' target='_blank') Ring-o-Bells
  %li.list-group-item
    %a(href='/sheet_music/SheriffsRideSheetMusic.pdf' target='_blank') Sheriff's Ride
  %li.list-group-item
    %a(href='/sheet_music/StroudMusic.pdf' target='_blank') Over The Hills and Far Away (Anna's Rose)
  %li.list-group-item
    %a(href='/sheet_music/vandals.png' target='_blank') Vandals
