.row
  .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12
    %h3
      Music
      .float-right Dance
    %ul.well.list-group
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/ring-o-bells.png' target='_blank') Ring-o-Bells
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/ring-o-bells.html' target='_blank') Ring-o-Bells
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/sheriffs-ride.png' target='_blank') Sheriff's Ride
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/sheriffs-ride.html' target='_blank')  Sheriff's Ride
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/annas-rose.png' target='_blank') Over The Hills and Far Away (Anna's Rose)
        -#%a(href='https://en.wikipedia.org/wiki/Over_the_Hills_and_Far_Away_(traditional_song)' target='_blank') wiki
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Barrow's House
      %li.list-group-item
        %a(href='javascript:void(0);' role="button" data-modal-src='/img/vandals.png' target='_blank') Vandals
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Vandals
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/black-joke.svg' target='_blank') Black Joke
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Barefoot Quaker

      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/lilliburlero.png' target='_blank') Lillibulero
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') I-91
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/drive-the-cold-winter-away.png' target='_blank') Drive the Cold Winter Away
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') John Bartlett's Fancy
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/donkey-riding.png' target='_blank') Donkey Riding
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Max Headroom
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/milleys-bequest.png' target='_blank') Milley's Bequest
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Milley's Bequest

      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/bobby-shaftoe.png' target='_blank') Bobby Shaftoe
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Castlering
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/twin-sisters.png' target='_blank') Twin Sisters
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Charington Toby

      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='' target='_blank') Pop-Pop
        %a.float-right(href='javascript:void(0);' role='button' data-modal-src='/dances/' target='_blank') Jean Boardman's Cakes

  .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12
    %h3 Our Notes
    %ul.well.list-group
      %li.list-group-item
        %a(href='/pdfs/dance-notes-1.pdf' target='_blank') Dance Notes I
      %li.list-group-item
        %a(href='/pdfs/dance-notes-2.pdf' target='_blank') Dance Notes II
      %li.list-group-item
        %a(href='/pdfs/dance-notes-3.pdf' target='_blank') Dance Notes III

.row
  .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12
    %h3 Awesome Songs
    %ul.well.list-group
      %li.list-group-item
        %a(href='javascript:void(0);' role='button' data-modal-src='/img/calliopehouse.gif' target='_blank') Calliope House
