%h3 Sheet Music Only
%ul.well.list-group
  %li.list-group-item
    %a(href='javascript:void(0);' role='button' data-modal-src='/img/ring-o-bells.png' target='_blank') Ring-o-Bells
  %li.list-group-item
    %a(href='javascript:void(0);' role='button' data-modal-src='/img/sheriffs-ride.png' target='_blank') Sheriff's Ride
  %li.list-group-item
    %a(href='javascript:void(0);' role='button' data-modal-src='/img/annas-rose.png' target='_blank') Over The Hills and Far Away (Anna's Rose)
  %li.list-group-item
    %a(href='javascript:void(0);' role="button" data-modal-src='/img/vandals.png' target='_blank') Vandals


%h3 Our Notes
%ul.well.list-group
  %li.list-group-item
    %a(href='/pdfs/dance-notes-1.pdf' target='_blank') Dance Notes I
  %li.list-group-item
    %a(href='/pdfs/dance-notes-2.pdf' target='_blank') Dance Notes II
  %li.list-group-item
    %a(href='/pdfs/dance-notes-3.pdf' target='_blank') Dance Notes III

