%h3 From Tony
%p

.row
  .col-md-6
    %article.dance
      %h4 Nuts In May Morris Ale 1982
      %video{width: "560", height:"315", controls: 'true'}
        %source{src:"/videos/nuts.in.may.morris.ale.1982.mp4", type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Nuts In May Shirtless 1982
      %video{width: "560", height:"315", controls: 'true'}
        %source{src:"/videos/nuts.in.may.shirtless.1982.mp4", type:"video/mp4"}

  .col-md-6
    %article.dance
      %h4 Shepherds Hey 1984
      %video{width: "560", height:"315", controls: 'true'}
        %source{src:"/videos/shepherds.hey.1984.mp4", type:"video/mp4"}

%h3 Our Group
%p

.row

  .col-md-6
    %article.dance
      %h4 Sheriff's Ride
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eNCQFg-U9Os?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Jean Boardman's Cakes
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7wveIAQJYrc?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        I-91
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lo_pVkIiifQ?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Casterling
        %span 2012 Marlboro Morris Ale
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jU0FSMN6lsM?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Vandals
        %span Dec 10, 2011 Grand Opening of Putney General Store
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uoYOd5f3KxY?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        Max Headroom
        %span Dec 10, 2011 Grand Opening of Putney General Store
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KWnUuKV76Vg?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4
        I-91
        %span 2016 Marlboro Morris Ale (From 6:20)
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8sgu5pgdkIc?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

%h3 Other Groups

.row
  .col-md-6
    %article.dance
      %h4 Milly's Bequest
      <iframe width="560" height="315" src="https://www.youtube.com/embed/o7A8TgfVGzg?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4 Milly's Bequest / Ring O Bells
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4n0A2cEdsIE?list=PLwvo9nXgfB7YNLcNQX3hSz3YN2fsmk3hr" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %article.dance
      %h4 Morris Jig Off
      <iframe width="420" height="315" src="https://www.youtube.com/embed/HHLHdhYx06E" frameborder="0" allowfullscreen></iframe>
