---
permalink: /dances/castlering
dance_name: Castlering
song_name: Bobby Shafto
lead_in: Two notes
key: G
sequence: "A &#x1D106 AB &#x1D107 AAB"
figures:
  "Eight person":
    - heading up
    - heading down
dance_origin:
---
