---
layout: page
permalink: /dances/charington-toby
dance_name: Charington Toby
song_name: Twin Sisters
lead_in:
key: G
sequence: "A &#x1D106 AB &#x1D107"
figures:
  "Five People":
    - V
    - X
    - circle
dance_origin:
---

%p
  Five person dance.
