---
layout: page
permalink: /dances/jean-boardmans-cakes
---

%a{href: "img/jean-boardmans-cakes-diagram.jpg"} Diagram of Jean Boardman's Cakes movements.

%h3 Jean Boardman's Cakes for Four
%video{width: '90%', controls: 'true'}
  %source{src: "videos/jean-boardmans-cakes-for-four-2018-11-29.mp4", type: "video/mp4"}
